- @topics.each do |t|
  -#%a{ href: user_path(t.user) }
    -#= image_tag t.user.avatar.small.url, class: 'thumbnail'
  .clearfix
    %label.inline-label 标题：
    = link_to t.title, topic_path(t), class: 'title'
    %p<
      = link_to(t.user.name, user_path(t.user))
      创建于
      = t.created_at

