- @topics.each do |t|
  .clearfix.topic
    %label.inline-label 标题：
    = link_to t.title, topic_path(t), class: 'title'
    %p<
      = link_to(t.user.name, user_path(t.user))
      创建于
      = t.created_at
= paginate @topics

