.content
  .lastest-users
    %h3 新进成员
    = render partial: 'list', locals: { users: @latest_users }
  .clear
  .most-active-users
    %h3 最多贡献
    = render partial: 'list', locals: { users: @most_active_users }
