.content
  -if flash[:notice]
    .alert
      %a.close{ 'data-dismiss' => "alert" } X
      = flash[:notice]
  .fl.w600
    .book-show
      = render partial: 'books/show'
  .fl.w300
    = render partial: 'homes/right'
