.book {
  margin-bottom: 10px;
  border-bottom: 1px dashed  #E2E2E2;

  p {
    margin-top: 10px;
    margin-left: 150px;

  }
  img {
    margin-bottom: 10px;
  }
}


.mc-book {
  margin-top: 10px;

  .ml20 {
    min-height: 130px;
  }

  p {
    width: 100px;
  }
}
