.fl {
  float: left;
}

.fr {
  float: right;
}

.w600 {
  width: 600px;
}

.w300 {
  width: 300px;
}

.clear {
  clear: both;
}

.ml20 {
  margin-left: 20px;
}

li.user {
  list-style: none;
  float: left;
  min-height: 100px;
  margin-left: 20px;
}

.mt10 {
  margin-top: 10px;
}

li.comment, .topic {
  border-bottom: 1px dashed  #E2E2E2;
}
